:root {
    --dark: #374151;
    --gray: #687280;
    --light: #EEE;
    --pink: #EC4899;
    --reddish-gray: #997570;
   }
   
   *{
       box-sizing: border-box;
       margin: 0;
       font-family: 'Fira sans',sans-serif;
   }
   
   body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background: rgb(0, 128, 105);
   color: white;
   }
   
   header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
   }
   
   header h1 {
     font-size: 2.5rem;
     font-weight: 300;
     color: white;
     margin-bottom: 1rem;
   }
   
   #to-do-form {
    display: flex;
   }
   
   input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
   }
   
   #to-do-input {
     flex: 1 1 0%;
     background-color:rgb(1, 82, 67);
     padding: 1rem;
     border-radius: 3rem;
     margin-right: 1rem;
     color: var(--light);
     font-size: 1.25rem;
   }
   
   #to-do-input::placeholder {
    color:rgb(8, 228, 188);
   }
   
   #new-task {
     color:rgb(1, 58, 82);
     font-size: 1.25rem;
     font-size: 700;
     background-image: linear-gradient(to right,white,rgb(106, 218, 253));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     cursor: pointer;
     transition: 0.4s;
   }
   
   #new-task:hover{
     opacity: 0.8;
   }
   #new-task:active{
     opacity: 0.6;
   }
   
   main{
     flex: 1 1 0%;
     padding: 2rem 1rem;
     max-width: 800px;
     width: 100%;
     margin: 0 auto;
   }
   
   .to-do-list{
     padding: 1rem; 
   }
   .to-do-list h2 {
     font-size: 1.5rem;
     font-weight: 300;
     color: rgb(12, 237, 196);
     margin-bottom: 1rem;
    }
   
    #tasks .task{
     display: flex;
     justify-content: space-between;
     background-color:rgb(4, 109, 108);
     padding: 1rem;
     border-radius: 4rem;
     margin-bottom: 1rem;
    }
   
    #tasks .task .content{
     flex: 1 1 0%;
    }
   
    #tasks .task .content .text{
    color: white;
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.4s;
   } 
   
   #tasks .task .content .text:not(:read-only) {
     color: var(--pink);
   }
   
   #tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem; 
   }
   
   .task .actions button {
     cursor: pointer;
     margin: 0 0.5rem;
     font-size: 1.25rem;
     font-weight: 700;
     text-transform: uppercase;
     transition: 0.4s;
   }
   
   .task .actions button:hover{
     opacity: 0.8;
   }
   .task .actions button:active{
     opacity: 0.6;
   }
   
   .task .actions .edit {
     background-image: linear-gradient(to right,rgb(178, 178, 178),rgb(3, 3, 3));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
   }
   
   .task .actions .delete {
     background-image: linear-gradient(to right,rgb(176, 88, 223),coral);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
   }
   